@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", "sans-serif";
  --font-open-sans: "Open Sans", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  --color-primary: #6c51e2;
  --color-secondary: #f1f0f8;
  --color-accent: #000000de;
  --color-tertiary: #00000099;
  --color-muted: #00000061;
  --color-morning: #ffffff98;
}

/* rounded-sm  rounded-r-sm */
/* button */
.btn-dark {
  @apply bg-primary text-base text-white font-open-sans font-bold p-4 md:px-8 flex justify-center;
}

.btn-light {
  @apply text-sm text-primary font-open-sans font-bold flex items-center py-2 px-4 border border-primary rounded-sm;
}

/* section title */
.title {
  @apply font-raleway font-bold text-accent text-2xl md:text-[32px];
}

/* section Top Choices tab */
.tab {
  @apply inline-flex px-4 md:px-6 py-[2px]  font-raleway font-bold text-tertiary hover:text-primary hover:border-b-2 hover:border-primary;
}
.tab-text {
  @apply text-xl md:text-2xl;
}

/* section Popular Destinations 卡片 */
.btn-destination {
  @apply relative bg-cover bg-center rounded-lg overflow-hidden py-4 px-6 flex justify-between items-center;
}
.destination-drop {
  @apply backdrop-brightness-50 w-full h-full absolute top-0 left-0 z-30;
}
.destination-country {
  @apply text-morning font-open-sans font-bold text-xs;
}
.destination-city {
  @apply text-white font-raleway font-bold text-2xl;
}

/* section Get Inspiration 卡片 */
.big-card-img {
  @apply rounded-lg h-[181px] md:h-[158px] lg:h-[263px];
}
.big-card-title {
  @apply font-raleway font-bold text-xl md:text-2xl mt-5 md:mt-6;
}
.big-card-content {
  @apply font-open-sans text-tertiary text-xs md:text-base mt-2;
}
